@charset "utf-8";
/* CSS Document */

body {
	margin: 0 auto;
}

#izq {
	margin-left: 4%;
	float: left;
	width: 40%;
	height: auto;
}

#der {
	margin-top: 1%;
	margin-right: 6%;
	float:right;
	width: 40%;
}

#parrafo {
	text-align:justify;
	padding-top:5%;
	font-size: 18px;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
}

.head {
	width:auto;
	height:80px;
}